body {
    background-color: rgb(49, 49, 49);
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;

    background-color: rgb(255, 255, 255);

    padding: 2px;
    height: 80%;
}

.wrapper h3 {
    padding-bottom: 5px;
    margin: 0;
}

.wrapper-chess-menus {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.menu-one {
    background-color: rgb(255, 204, 186);
    /* padding: 5px; */
    /* flex-basis: 33%; */
}
.basis-33{
    flex-basis: 33%;
}

.wrapper-undo-buttons {
    flex-direction: row;
}

.wrapper-game {
    padding: 0 15px 0 15px;
    margin: 0 auto 0 auto;
}

.menu-two {
    background-color: rgb(210, 255, 206);
    /* padding: 5px; */
}

#canvas-holder {
    /* background-color: black;*/
    background-color: white;
    /* border: 3px black dotted; */
    /* padding: 0;
    margin: 0; */
}

/* NOT MOBILE FIRST!!!! */
/* phone users malding */
@media screen and (max-width: 1000px) {
    :root {
        --tile-size-modifier: 25;
    }


    .wrapper-chess-menus {
        flex-direction: column;
    }

    .wrapper-game{
        order: -1;

    }
/* 
    .menu-one {
        /* order: 1; */
    /* } */
    /* .meny-two {

    }  */
}