body {
    background-color: rgb(49, 49, 49);
}

#wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */

    background-color: rgb(255, 255, 255);

    padding: 2px;
    height: 80%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main h3 {
    padding-bottom: 5px;
    margin: 0;
}

.wrapper-menus {
    display: flex;
    justify-content: space-between;
}
.menu-one {
    background-color: red;
    padding: 5px;
    flex-basis: 33%;
    
}

#canvas-holder {
    /* background-color: black;*/
    background-color: white;
    /* border: 3px black dotted; */
    /* padding: 0;
    margin: 0; */
}